<!DOCTYPE html>
<html lang="fr" data-statut="c" id="statut_user" onclick="changerstatut(this)" onkeypress="changerstatut(this)">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="LoanMe">
    <title>LoanMe SFN Agence</title>

    <!-- Custom fonts for this template-->
    <link href="/static/accueil/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/static/accueil/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
         
        <ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar" style="background-color:#000e38;">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/actualisation">
                <img src="/static/images/standardloan.png" width="105px" height="53px">
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/actualisation">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Tableau de bord</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">
                <!-- UTILISATEUR -->

                <!-- PARTENAIRE -->
               
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                            aria-expanded="true" aria-controls="collapseTwo">
                            <i class="fas fa-fw fa-user"></i>
                            <span>UTILISATEUR</span>
                        </a>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                            <div class="bg-white py-2 collapse-inner rounded">
                                <a class="collapse-item nouveau_membre" href="#">
                                    <i class="fas fa-plus-circle fa-fw"></i>
                                    <span>Nouveau Utilisateur</span>
                                </a>
                                <a class="collapse-item rep_personnel" href="#">
                                    <i class="fas fa-list-alt fa-fw"></i>
                                    <span>Répertoire Utilisteurs</span>
                                </a>
                            </div>
                        </div>
                    </li>

                <!-- PARTENAIRE -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePartner"
                        aria-expanded="true" aria-controls="collapseTwo">
                        <i class="fas fa-fw fa-handshake"></i>
                        <span>PARTENAIRE</span>
                    </a>
                    <div id="collapsePartner" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <a class="collapse-item nouveau-partenaire" href="#">
                                <i class="fas fa-plus-circle fa-fw"></i>
                                <span>Nouveau Partenaire</span>
                            </a>
                            <a class="collapse-item repertoire-partenaire" href="#">
                                <i class="fas fa-fw fa-list-alt"></i>
                                <span>Répertoire Partenaires</span>
                            </a>
                        </div>
                    </div>
                </li>
                <!-- AGENCE -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAgence"
                        aria-expanded="true" aria-controls="collapseTwo">
                        <i class="fas fa-fw fa-building"></i>
                        <span>AGENCE</span>
                    </a>
                    <div id="collapseAgence" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <a class="collapse-item nouvelle-agence" href="#">
                                <i class="fas fa-plus-circle fa-fw"></i>
                                <span>Nouvelle Agence</span>
                            </a>
                            <a class="collapse-item repertoire-agence" href="#">
                                <i class="fas fa-fw fa-list-alt"></i>
                                <span>Répertoire Agence</span>
                            </a>
                            <a class="collapse-item appro_monnaie" href="#">
                                <i class="fas fa-fw fa-coins"></i>
                                <span>Appro. Monnaie Elec.</span>
                            </a>
                        </div>
                    </div>
                </li>
                <!-- COMPTE -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCompte"
                        aria-expanded="true" aria-controls="collapseTwo">
                        <i class="fas fa-fw fa-coins"></i>
                        <span>COMPTE</span>
                    </a>
                    <div id="collapseCompte" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <a class="collapse-item nouveau-compte" href="#">
                                <i class="fas fa-plus-circle fa-fw"></i>
                                <span>Nouveau Compte</span>
                            </a>
                            <a class="collapse-item repertoire-compte" href="#">
                                <i class="fas fa-fw fa-users"></i>
                                <span>Comptes Membres</span>
                            </a>
                            <a class="collapse-item repertoire-compte-organisation" href="#">
                                <i class="fas fa-fw fa-handshake"></i>
                                <span>Comptes Partenaires</span>
                            </a>
                        </div>
                    </div>
                </li>
                
                <!-- CONFIGURATION -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseConfig"
                        aria-expanded="true" aria-controls="collapseTwo">
                        <i class="fas fa-fw fa-cog fa-spin"></i>
                        <span>CONFIGURATION</span>
                    </a>
                    <div id="collapseConfig" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <a class="collapse-item depot_usd" href="#">
                                <i class="fas fa-fw fa-cog fa-spin"></i>
                                <span>Configuration Dépôt</span>
                            </a>
                            <a class="collapse-item retrait_usd" href="#">
                                <i class="fas fa-fw fa-cog fa-spin"></i>
                                <span>Config. Transaction</span>
                            </a>
                            <a class="collapse-item pourcentage" href="#">
                                <i class="fas fa-fw fa-cog fa-spin"></i>
                                <span>Config. Générale</span>
                            </a>
                        </div>
                    </div>
                </li>
                <!-- OPERATIONS WALLET -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseWallet"
                        aria-expanded="true" aria-controls="collapseTwo">
                        <i class="fas fa-fw fa-wallet"></i>
                        <span>OPERATIONS WALLET</span>
                    </a>
                    <div id="collapseWallet" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <a class="collapse-item depot_wallet_don" href="#">
                                <i class="fas fa-fw fa-wallet"></i>
                                <span>Dépôt Wallet Don</span>
                            </a>
                            <a class="collapse-item paiement_wallet_don" href="#">
                                <i class="fas fa-fw fa-money-bill-wave"></i>
                                <span>Paiement</span>
                            </a>
                        </div>
                    </div>
                </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <br>

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                   <h6 style="color: #ff6600;font-weight: bold;" class="libelle_titre"><%=photo[0].d %> <%=photo[0].id_0 %></h6>

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small" style="color: #000e38;"><%=photo[0].prenom %> <%=photo[0].nom %></span>
                                <img class="img-profile rounded-circle"
                                    src="https://admin.loanmesfn.com/<%=photo[0].p %>">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#profilModal">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 "></i>
                                    Profil
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Déconnexion
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid corps" style="height: 500px;overflow-y: auto;">
                    <!-- Tableau de bord -->
                        <div class="row">
                            <!-- Wallet Revenu CDF -->
                            <div class="col-xl-3 col-md-3 mb-2">
                                <div class="card shadow h-100 py-2" style="border-left: 4px solid #000e38">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-uppercase mb-1" style="color: #000e38;">
                                                    Wallet Revenu CDF</div>
                                                <div class="h6 mb-0 font-weight-bold text-gray-800 wallet_revenu_cdf"></div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-wallet fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Wallet Revenu USD -->
                            <div class="col-xl-3 col-md-3 mb-2">
                                <div class="card shadow h-100 py-2" style="border-left: 4px solid #000e38;">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-uppercase mb-1" style="color: #000e38;">Wallet Revenus USD</div>
                                                <div class="h6 mb-0 font-weight-bold text-gray-800 wallet_revenu_usd"></div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-wallet fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Wallet Revenu EUR -->
                            <div class="col-xl-3 col-md-3 mb-2">
                                <div class="card shadow h-100 py-2" style="border-left: 4px solid #000e38;">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-uppercase mb-1" style="color: #000e38;">Wallet Revenus EUR</div>
                                                <div class="h6 mb-0 font-weight-bold text-gray-800 wallet_revenu_eur"></div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-wallet fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Wallet Don EUR -->
                            <div class="col-xl-3 col-md-3 mb-2">
                                <div class="card shadow h-100 py-2" style="border-left: 4px solid #000e38;">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-uppercase mb-1" style="color: #000e38;">Wallet Don CDF</div>
                                                <div class="h6 mb-0 font-weight-bold text-gray-800 wallet_don_cdf"></div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-wallet fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- Wallet Don USD -->
                            <div class="col-xl-3 col-md-3 mb-2">
                                <div class="card shadow h-100 py-2" style="border-left: 4px solid #ff6600;">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-uppercase mb-1" style="color: #ff6600;">Wallet Don USD</div>
                                                <div class="h6 mb-0 font-weight-bold text-gray-800 wallet_don_usd"></div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-wallet fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Wallet Don EUR -->
                            <div class="col-xl-3 col-md-3 mb-2">
                                <div class="card shadow h-100 py-2" style="border-left: 4px solid #ff6600;">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-uppercase mb-1" style="color: #ff6600;">Wallet Don EUR</div>
                                                <div class="h6 mb-0 font-weight-bold text-gray-800 wallet_don_eur"></div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-wallet fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Chef du Personnel -->
                            <div class="col-xl-3 col-md-3 mb-2">
                                <div class="card shadow h-100 py-2" style="border-left: 4px solid #ff6600;">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-uppercase mb-1" style="color: #ff6600;">Chef du Personnel</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800 chef_personnel"></div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-user-alt fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Gestionnaire des crédits -->
                            <div class="col-xl-3 col-md-3 mb-2">
                                <div class="card shadow h-100 py-2" style="border-left: 4px solid #ff6600;">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-uppercase mb-1" style="color: #ff6600;">Gestionnaire des crédits</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800 gest_credit"></div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-user-alt fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- Gestionnaire des comptes -->
                            <div class="col-xl-3 col-md-3 mb-2">
                                <div class="card shadow h-100 py-2" style="border-left: 4px solid #000e38;">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-uppercase mb-1" style="color: #000e38;">Gest. des comptes</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800 gest_compte"></div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-user-alt fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Agenr agence -->
                            <div class="col-xl-3 col-md-3 mb-2">
                                <div class="card shadow h-100 py-2" style="border-left: 4px solid #000e38;">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-uppercase mb-1" style="color: #000e38;">Agent(s) Agence</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800 agent_agence"></div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-user-alt fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Agent terrain -->
                            <div class="col-xl-3 col-md-3 mb-2">
                                <div class="card shadow h-100 py-2" style="border-left: 4px solid #000e38;">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-uppercase mb-1" style="color: #000e38;">Agent(s) Terrain</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800 agent_terrain"></div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-user-alt fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Partenaire -->
                            <div class="col-xl-3 col-md-3 mb-2">
                                <div class="card shadow h-100 py-2" style="border-left: 4px solid #000e38;">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-uppercase mb-1" style="color: #000e38;">Partenaire(s)</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800 partenaire"></div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-handshake fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- Compte epargne -->
                            <div class="col-xl-3 col-md-3 mb-2">
                                <div class="card shadow h-100 py-2" style="border-left: 4px solid #ff6600;">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-uppercase mb-1" style="color: #ff6600;">Compte Epargne</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800 compte_epargne"></div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-coins fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Compte epargne -->
                            <div class="col-xl-3 col-md-3 mb-2">
                                <div class="card shadow h-100 py-2" style="border-left: 4px solid #ff6600;">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-uppercase mb-1" style="color: #ff6600;">Compte Courant</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800 compte_courant"></div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-coins fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Province -->
                            <div class="col-xl-3 col-md-3 mb-2">
                                <div class="card shadow h-100 py-2" style="border-left: 4px solid #ff6600;">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-uppercase mb-1" style="color: #ff6600;">Province</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800 province">1</div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-city fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Agence -->
                            <div class="col-xl-3 col-md-3 mb-2">
                                <div class="card shadow h-100 py-2" style="border-left: 4px solid #ff6600;">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-uppercase mb-1" style="color: #ff6600;">Agence(s)</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800 agence"></div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-building fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- Membre -->
                            <div class="col-xl-3 col-md-3 mb-2">
                                <div class="card shadow h-100 py-2" style="border-left: 4px solid #000e38;">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-uppercase mb-1" style="color: #000e38;">Membre(s)</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800 membres"></div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-users fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Membre actif -->
                            <div class="col-xl-3 col-md-3 mb-2">
                                <div class="card shadow h-100 py-2" style="border-left: 4px solid #000e38;">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-uppercase mb-1" style="color: #000e38;">Membre.s Actif.s</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800 membre_actif"></div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-user-check fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Membre Actif -->
                            <div class="col-xl-3 col-md-3 mb-2">
                                <div class="card shadow h-100 py-2" style="border-left: 4px solid #000e38;">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-uppercase mb-1" style="color: #000e38;">Membre.s Inactif.s</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800 membre_inactif"></div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-user-lock fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                     <!-- Tableau de bord -->

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <br/>

            <!-- Footer -->
            <footer class="bg-white text-center ">
                <div class="container" >
                    <div class="text-white-50 small mb-0">
                        <div class="mt-2" style="color: black;">&copy; Loanmsfn 2024. All Rights Reserved.</div>
                        <a href="http://loanmesfn.com/privacy" style="color: black;">Privacy</a>
                        <span class="mx-1" style="color: black;">&middot;</span>
                        <a href="http://loanmesfn.com/terms" style="color: black;">Terms</a>
                        <span class="mx-1" style="color: black;">&middot;</span>
                        <a href="http://loanmesfn.com/faq" style="color: black;">FAQ</a>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel6"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel6">Prêt à partir?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Sélectionnez « Se déconnecter » ci-dessous si vous êtes prêt à mettre fin à votre session en cours.</div>
                <div class="modal-footer">
                    <a class="btn" style="background-color: #ff6600;color: white;" href="/deconnexion"><i class="fas fa-sign-out-alt"></i>&nbsp;Se déconnecter</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="profilModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel7" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel7" style="color: #ff6600;">Mon profil</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div className="row">
                        <div className="col-sm-2">
                            <p className="mb-0">Prénom Nom Postnom</p>
                        </div>
                        <div className="col-sm-9">
                            <span id="email"><%=photo[0].prenom %> <%=photo[0].nom %> <%=photo[0].post_nom %></span>
                        </div>
                        <hr/>
                        <div className="row">
                            <div className="col-sm-3">
                                <p className="mb-0">Sexe</p>
                            </div>
                            <div className="col-sm-9">
                                <span id="tel"><%=photo[0].sexe %></span>
                            </div>
                        </div>
                        <hr/>
                        <div className="row">
                            <div className="col-sm-3">
                                <p className="mb-0">Email</p>
                            </div>
                            <div className="col-sm-9">
                                <input type="email" width="100px" id="adresse_electronique" value=<%=photo[0].email %> >
                            </div>
                        </div>
                        <hr/>
                        <div className="row">
                            <div className="col-sm-3">
                                <p className="mb-0">Téléphone</p>
                            </div>
                            <div className="col-sm-9">
                                <input type="text" width="100px" id="telephone" value=<%=photo[0].telephone %> >
                            </div>
                        </div>
                        <hr/>
                        <div className="row">
                            <div className="col-sm-3">
                                <p className="mb-0">Adresse Physique</p>
                            </div>
                            <div className="col-sm-9">
                                <span id="adresse_physique"></span>
                                <input type="text" width="100px" class="adresse_physique" value=<%=photo[0].adresse_physique %> >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn" style="background-color: #ff6600;color: white;" id="modifier_profil" href="/deconnexion"><i class="fas fa-edit"></i>&nbsp;Modifier</a>
                </div>
                <span class="msg_err" style="color:brown;margin-left: 25px;"></span><br/>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/static/accueil/vendor/jquery/jquery.min.js"></script>
    <script src="/static/accueil/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/static/accueil/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/static/accueil/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/static/accueil/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/static/accueil/js/demo/chart-area-demo.js"></script>
    <script src="/static/accueil/js/demo/chart-pie-demo.js"></script>
    <script src = " https://unpkg.com/sweetalert/dist/sweetalert.min.js " > </script> 

     <!--Mes scripts-->

     <script crossorigin src="/static/assets/js/react.production.min.js"></script><!--lien : https://unpkg.com/react@18/umd/react.production.min.js-->
     <script crossorigin src="/static/assets/js/react-dom.production.min.js"></script> <!--lien : https://unpkg.com/react-dom@18/umd/react-dom.production.min.js-->
     <script crossorigin src="/static/assets/js/babel.min.js"></script> <!--lien : https://unpkg.com/@babel/standalone/babel.min.js-->
     
    <script type="text/babel" src="/static/composants/membre_personnel.js"></script>

</body>

</html>